<h1 class= "mainpage"> Makeup Keeper</h1>
<div class= "row">
  <div class="small-2 large-4 columns" id="mainpage-style">
  <%= link_to 'Eyeshadows', eyeshadows_path %>
</div>
<div class="small-2 large-4 columns" id="mainpage-style">
  <%= link_to 'Lipsticks', lipsticks_path %>
</div>
<div class="small-2 large-4 columns" id="mainpage-style">
  <%= link_to 'Mascaras', mascaras_path %>
</div>
<div class="first">
<img src="<%= asset_path( 'radhika.jpg' ) %>" height="500" width="750"/>
</div>
